<app-loading></app-loading>
<div class="page-wraper font-roboto">
	<!-- header -->
    <app-header3></app-header3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
		<div class="dlab-bnr-inr bnr-style2" style="background-image:url(assets/images/main-slider/slide6.jpg); background-size: cover;">
            <div class="container-fluid">
                <div class="dlab-bnr-inr-entry">
					<div class="slide-filter-bx">
          <app-search-form3></app-search-form3>
						
						<div class="location-carousel-bx">
							<app-city-owl2 [data]="banner_city_section"></app-city-owl2>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<div class="content-block" id="page_content">
            <!-- Popular Category -->
            
			<app-icon-box1 [data]="categories"></app-icon-box1>
            <!-- Popular Category End -->
			<!-- Featured Destinations -->
      <app-city-owl [data]="city_section"></app-city-owl>
			<!-- Featured Destinations End -->
			<!-- Our Services -->
			<!-- <div class="section-full bg-gray-1 content-inner about-us overlay-black-dark owl-out" style="background-image:url(assets/images/background/bg1.jpg); background-position: top;">
        <div class="container  max">
					<div class="section-head text-white text-left text-center">
						<h2 class="box-title">Best Things to Do in the City</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="site-filters clearfix center m-b40 listing-filters text-white">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class=""></i>All</span></a> 
							</li>
							<li data-filter="latest-listings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-thumb-tack"></i> Latest Listings</span></a> 
							</li>
							<li data-filter="popular-ratings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-star-o"></i> Popular Ratings</span></a> 
							</li>
							<li data-filter="near-by-you" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-heart-o"></i> Near By You</span></a> 
							</li>
 						</ul>
					</div> -->
          <app-trip-listing2 [data]="tranding_places_section"></app-trip-listing2>
				<!-- </div>
			</div> -->
            <!-- Our Services -->
			<!-- Why Choose Us -->
			<app-how-it-work3 [data]="howItWorks"></app-how-it-work3>
			<!-- Why Chose Us End -->
			<!-- Online Community -->
			<app-testimonial2 [data]="testimonials"></app-testimonial2>
			<!-- Online Community End -->
			<!-- Top Featured Locations -->
			<app-city-collage2 [data]="collage_city_section"></app-city-collage2>
			<!-- Top Featured Locations End -->
			<!-- Featured Destinations -->
      <app-blog3 [data]="blogs"></app-blog3>
			<!-- Featured Destinations End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <app-footer3></app-footer3>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>