<div class="widget widget_gallery">
								<h4 class="widget-title">Instagram</h4>
                                <ul>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic1.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic2.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic3.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic4.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic5.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic6.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic7.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic8.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic9.jpg" alt=""></div></a></li>
                                </ul>
                            </div>