<header class="site-header header-transparent mo-left header-style3">
		<!-- main header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix onepage">
      <div class="container-fluid clearfix">
          <!-- website logo -->
        <div class="logo-header mostion">
          <a routerLink="/index" class="logo-1"><img src="assets/images/logo-white-3.png" alt=""></a>
          <a routerLink="/index" class="logo-2"><img src="assets/images/logo-black-3.png" alt=""></a>
        </div>
          <!-- nav toggle button -->
        <app-navigation></app-navigation>
      </div>
    </div>
  </div>
  <!-- main header END -->
</header>