<div class="content-box listing-timing-box" id="accordion">
										<div class="content-header listing-timing-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<div class="head-left">
												<span class="listing-day"><i class="la la-clock-o m-r10"></i>Today</span>
												<span class="listing-status open">Open now</span>
												<span class="m-l10">UTC+11</span>
											</div>
											<div class="head-right">
												<span>06:30 - 11:30</span>
												<span class="m-l10"><i class="la la-ellipsis-h"></i></span>
											</div>
										</div>
										<div class="content-body collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
											<ul class="listing-time-list">
												<li class="open"><span class="listing-day">Monday</span> <span class="listing-hours">06:30 - 11:30  13:15 - 21:45</span></li>
												<li><span class="listing-day">Tuesday</span> <span class="listing-hours">09:30 - 19:00</span></li>
												<li><span class="listing-day">Wednesday</span> <span class="listing-hours">09:30 - 19:00</span></li>
												<li><span class="listing-day">Thursday</span> <span class="listing-hours">09:30 - 19:00</span></li>
												<li><span class="listing-day">Friday</span> <span class="listing-hours">09:30 - 19:00</span></li>
												<li><span class="listing-day">Saturday</span> <span class="listing-hours">09:30 - 19:00</span></li>
												<li><span class="listing-day">Sunday</span> <span class="listing-hours">09:30 - 19:00</span></li>
											</ul>
										</div>
									</div>