<div class="content-box">
										<div class="content-header">
											<h3 class="title"><i class="la la-tags m-r5"></i>tags</h3>
										</div>
										<div class="content-body">
											<ul class="icon-box-list list-col-2">
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-life-buoy"></i>
													</div>
													<span>Expert</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-cutlery"></i>
													</div>
													<span>Restaurant</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-shopping-cart"></i>
													</div>
													<span>Shopping</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-line-chart"></i>
													</div>
													<span>State Street</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-lemon-o"></i>
													</div>
													<span>Tea Tasting</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-gray">
														<i class="la la-wifi"></i>
													</div>
													<span>Wifi</span>
												</a></li>
											</ul>
										</div>
									</div>