<div class="row">
  <div class="col-lg-4 col-md-4" *ngFor="let howItWork of data">
    <div class="icon-bx-wraper sr-box center box1 m-b30">
      <div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="{{howItWork.icon_class}}"></i></a> </div>
      <div class="icon-content">
        <h3 class="dlab-tilte">{{howItWork.title}}</h3>
        <p>{{howItWork.description}}</p>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-4 col-md-4">
    <div class="icon-bx-wraper sr-box center  m-b30">
      <div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="ti-gift"></i></a> </div>
      <div class="icon-content">
        <h3 class="dlab-tilte">Find What Your Want?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="icon-bx-wraper sr-box center box1 m-b30">
      <div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="ti-rocket"></i></a> </div>
      <div class="icon-content">
        <h3 class="dlab-tilte">Explore Amazing Places</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </div> -->
</div>