<div class="dlab-bnr-inr dlab-bnr-inr-md" style="background-image:url(assets/images/main-slider/slide5.jpg); background-size: cover;">
    <div class="container">
        <div class="dlab-bnr-inr-entry align-m dlab-home">
  <div class="bnr-content">
  </div>
  <div class="dlab-tabs search-filter">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active border" data-toggle="tab" href="#place">
        <i class="fa fa-map-marker"></i> <span class="title-head">Place</span></a></li>
      <li class="nav-item"><a class="nav-link border" data-toggle="tab" href="#party">
        <i class="fa fa-music"></i> <span class="title-head">Party</span></a></li>
      <li class="nav-item"><a class="nav-link border" data-toggle="tab" href="#restauren">
        <i class="fa fa-glass"></i> <span class="title-head">Restauren</span></a></li>
    </ul>
    <div class="search-filter filter-style1">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What are you looking for?">
          <div class="form-control">
            <select>
              <option>Categorie</option>
              <option>Construction</option>
              <option>Corodinator</option>
              <option>Employer</option>
              <option>Financial Career</option>
              <option>Marketing</option>
              <option>Supporting</option>
              <option>Teaching</option>
            </select>
          </div>
          <div class="input-group-prepend">
            <button class="site-button b-color">Recherche</button>
          </div>
        </div>
      </form>
    </div>
    <p class="text-center text-white m-b10 m-t30"></p>
  </div>

  <div class="category-bx">
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-cart-of-ecommerce"></i>
      <p>carts</p>
    </a>
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-carrot"></i>
      <p>foods</p>
    </a>
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-hockey"></i>
      <p>candy</p>
    </a>
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-pill-capsule"></i>
      <p>medicine</p>
    </a>
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-birthday-cake"></i>
      <p>cake</p>
    </a>
    <a routerLink="/list-view-left-side-bar" class="category border">
      <i class="flaticon-cat-place"></i>
      <p>place</p>
    </a>
  </div>
</div>
    </div>
</div>
