<div class="widget widget_time">
								<h4 class="m-b10">Opening Hours</h4>
								<div class="dlab-separator bg-primary m-b20"></div>
								<ul class="m-b0">
									<li><a href="javascript:void(0)">Monday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Tuesday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Wednesday</a> 12:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Thursday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Friday</a> 03:00pm - 02:00am</li>
									<li><a href="javascript:void(0)">Friday</a> 03:00pm - 02:00am</li>
									<li><a href="javascript:void(0)">Sunday</a> Closed</li>
								</ul>
							</div>