<div class="content-box">
										<div class="content-header">
											<h3 class="title"><i class="la la-bar-chart m-r5"></i>statistic</h3>
										</div>
										<div class="content-body">
											<ul class="icon-box-list list-col-2">
												<li>
													<div class="icon-box-info">
														<div class="icon-cell bg-gray">
															<i class="la la-eye"></i>
														</div>
														<span>13164 Views</span>
													</div>
												</li>
												<li>
													<div class="icon-box-info">
														<div class="icon-cell bg-gray">
															<i class="la la-star-o"></i>
														</div>
														<span>24 Ratings</span>
													</div>
												</li>
												<li>
													<div class="icon-box-info">
														<div class="icon-cell bg-gray">
															<i class="la la-heart-o"></i>
														</div>
														<span>102 Favorites</span>
													</div>
												</li>
												<li>
													<div class="icon-box-info">
														<div class="icon-cell bg-gray">
															<i class="la la-share"></i>
														</div>
														<span>58 Shares</span>
													</div>
												</li>
											</ul>
										</div>
									</div>