<div class="content-box">
										<div class="content-header">
											<h3 class="title"><i class="la la-sitemap m-r5"></i>categories</h3>
										</div>
										<div class="content-body">
											<ul class="icon-box-list list-col-2">
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-green">
														<i class="la la-life-buoy"></i>
													</div>
													<span>Food & Drink</span>
												</a></li>
												<li><a href="javascript:void(0);" class="icon-box-info">
													<div class="icon-cell bg-red">
														<i class="la la-cutlery"></i>
													</div>
													<span>Shopping</span>
												</a></li>
											</ul>
										</div>
									</div>