<div class="dlab-bnr-inr dlab-bnr-inr-md bnr-style1" style="background-image:url(assets/images/main-slider/slide5.jpg);" id="dezParticles">
  <div class="container">
    <div class="dlab-bnr-inr-entry align-m dlab-home">
      <div class="bnr-content">
      </div>
      <div class="search-filter filter-style1">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What are you looking for?">
            <input type="text" class="form-control" placeholder="Location">
            <div class="form-control">
              <select>
                <option>Categorie</option>
                <option>Construction</option>
                <option>Corodinator</option>
                <option>Employer</option>
                <option>Financial Career</option>
                <option>Marketing</option>
                <option>Supporting</option>
                <option>Teaching</option>
              </select>
            </div>
            <div class="input-group-prepend">
              <button class="site-button b-color">Recherche</button>
            </div>
          </div>
        </form>
      </div>
      <div class="navbar scroll-button">
        <a href="#page_content" class="site-button button-style1  b-color scroll"><i class="la la-long-arrow-down"></i></a>
      </div>
    </div>
  </div>
</div>
