<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
</button>

<div class="extra-nav">
    <div class="extra-cell">
    </div>
</div>

<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
  <ul class="nav navbar-nav">
    <li class="down active"><a routerLink="">Accueil</a>
    </li>
    <li class="down"> <a routerLink="/Login" class="site-button-link compte white" [hidden]="Loggedin==true"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
    </li>
    <li class="down"><a class="compte" [hidden]="Loggedin==false"><i class="fa fa-user-circle"></i> {{userData.UserName}}</a>
      <ul class="sub-menu">
        <li><a  class="compte" (click)="onLogout($event)"><i class="ti-receipt"></i>  Mes commandes</a></li>
        <li><a  class="compte" (click)="onLogout($event)"><i class="ti-power-off"></i>  Déconnexion</a></li>
      </ul>
    </li>
    <li class="down" *ngIf="Loggedin==true"><a class="compte" routerLink="/add-listing"><i class="flaticon-cat-cart-of-ecommerce"></i> Panier</a></li>
    <li class="down" *ngIf="Loggedin==false"><a class="compte" routerLink="/Login" ><i class="flaticon-cat-cart-of-ecommerce"></i> Panier</a></li>
  </ul>
</div>
