<div class="section-full bg-white content-inner owl-out">
  <ng-template ngFor let-sectionData [ngForOf]="data">
    <div class="container">
      <div class="section-head text-black text-center">
        <h2 class="box-title">{{sectionData.section_title}}</h2>
        <div class="dlab-separator bg-primary"></div>
        <p>{{sectionData.section_description}}</p>
      </div>
      <!-- <div class="popular-cities-carousel owl-carousel owl-btn-2 owl-btn-center-lr primary"> -->
      <owl-carousel-o [options]="customOptions" class="popular-cities-carousel owl-carousel-1 owl-btn-2 owl-btn-center-lr primary">
        <ng-template carouselSlide *ngFor = "let item of sectionData.items">
          <div class="items">
            <div class="featured-bx style1 m-b30">
              <div class="featured-media">
                <div class="featured-hover"></div>
                <div class="overlay-black-light">
                  <img src="assets/images/destinations/{{item.image}}" alt=""/>
                </div>
              </div>
              <div class="featured-info">
                <h4 class="title"><a href="javascript:void(0);">{{item.title}}</a></h4>
              </div>
            </div>
          </div>
      </ng-template>
    </owl-carousel-o>
        <!-- <div class="items">
          <div class="featured-bx style1 m-b30">
            <div class="featured-media">
              <div class="featured-hover"></div>
              <div class="overlay-black-light">
                <img src="assets/images/destinations/pic12.jpg" alt=""/>
              </div>
            </div>
            <div class="featured-info">
              <h4 class="title"><a href="javascript:void(0);">United States</a></h4>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="featured-bx style1 m-b30">
            <div class="featured-media">
              <div class="featured-hover"></div>
              <div class="overlay-black-light">
                <img src="assets/images/destinations/pic13.jpg" alt=""/>
              </div>
            </div>
            <div class="featured-info">
              <h4 class="title"><a href="javascript:void(0);">Korea</a></h4>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="featured-bx style1 m-b30">
            <div class="featured-media">
              <div class="featured-hover"></div>
              <div class="overlay-black-light">
                <img src="assets/images/destinations/pic14.jpg" alt=""/>
              </div>
            </div>
            <div class="featured-info">
              <h4 class="title"><a href="javascript:void(0);">Japan</a></h4>
            </div>
          </div>
        </div> -->
      </div>
    <!-- </div> -->
  </ng-template>
</div>