<div class="content-box">
								<div class="content-header">
									<h3 class="title"><i class="la la-map-signs m-r5"></i>business info</h3>
								</div>
								<div class="content-body">
									<ul class="icon-box-list">
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-envelope"></i>
											</div>
											<span>info@example.com</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-phone"></i>
											</div>
											<span>+91 1 234 5648</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-globe"></i>
											</div>
											<span>https://bizmap.dexignzone.com</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-map-marker"></i>
											</div>
											<span>Demo Address #8901 Marmora Road</span>
										</a></li>
									</ul>
									<ul class="list-inline m-tb20">
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-facebook"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-twitter"></i></a></li>
									</ul>
									<a href="javascript:vois(0);" class="site-button outline outline-1 button-md btn-block"><i class="la la-envelope"></i> Inbox</a>
								</div>
							</div>