<header class="site-header header-transparent mo-left header-style3">
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix onepage">
                <div class="container clearfix">
                  <div class="logo-header mostion">
                    <a routerLink="" class="logo-1"><img  alt="VentePrivée"></a>
                    <a routerLink="" class="logo-2"><img  alt="VentePrivée"></a>
                  </div>
                  <app-navigation></app-navigation>
                </div>
            </div>
        </div>
</header>
