<app-loading></app-loading>
<div class="page-wraper">
    <div class="page-content dlab-login" style="background-image: url(assets/images/background/bg00.jpg); background-position: top right; background-blend-mode: screen;">
        <div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 login-form-box">
					<div class="login-form">
						<div class="logo">
							<a routerLink=""><img  alt="VentePrivée"/></a>
						</div>
						<div class="tab-content nav">
							<div id="register" class="tab-pane active">
								<form class="dlab-form">
									<h3 class="form-title m-t0">Créer un compte! Il est gratuit et sera toujours.</h3>
									<div class="form-group text-center">
										<a href="javascript:vois(0);" class="site-button facebook border"><i class="fa fa-facebook-official m-r10"></i> Connectez-vous avec Facebook</a>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Nom Complet" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Email Id" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Addresse" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Ville" type="text"/>
									</div>
									<h6 class="text-inherit m-b10">Entrez les détails de votre compte ci-dessous : </h6>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Nom d'utilisateur" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Mot de passe" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control border" placeholder="Retapez votre mot de passe" type="text"/>
									</div>
									<div class="form-group">
										<input type="checkbox" id="privacy-policy">
										<label for="privacy-policy">J'accepte les  <a href="javascript:vois(0);" class="btn-link">Conditions d'utilisation</a>& <a href="javascript:vois(0);" class="btn-link">Politique de confidentialité</a></label>
									</div>
									<div class="form-group">
										<button class="site-button button-md btn-block border">Je m'inscris</button>
									</div>
									<div class="form-group">
										<p class="info-bottom">
											<a data-toggle="tab" routerLink="/Login" class="btn-link">Connexion ?</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="content-info">
				</div>
			</div>
		</div>
    </div>
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
