<div class="content-box">
										<div class="content-header">
											<h3 class="title"><i class="la la-bullhorn m-r5"></i>listing sidebar promotion</h3>
										</div>
										<div class="content-body">
											<div class="widget recent-posts-entry posts-style1 posts-column-2">
												<div class="widget-post-bx">
													<div class="widget-post clearfix">
														<div class="dlab-post-media">
															<img src="assets/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt="">
															<span class="abb-bx">Add</span>
														</div>
														<div class="dlab-post-info">
															<div class="dlab-post-header">
																<h6 class="post-title"><a href="javascript:void(0);">Moments To Remember From Directory</a></h6>
																<div class="dlab-post-meta">
																	<ul>
																		<li class="post-rating">
																			<span class="average-rating">7.0 </span>
																			<span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
																		</li>
																	</ul>
																</div>
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
															</div>
														</div>
													</div>
												</div>
												<div class="widget-post-bx">
													<div class="widget-post clearfix">
														<div class="dlab-post-media">
															<img src="assets/images/blog/recent-blog/pic2.jpg" width="200" height="143" alt="">
															<span class="abb-bx">Add</span>
														</div>
														<div class="dlab-post-info">
															<div class="dlab-post-header">
																<h6 class="post-title"><a href="javascript:void(0);">A Thing Of The Past</a></h6>
																<div class="dlab-post-meta">
																	<ul>
																		<li class="post-rating">
																			<span class="average-rating">7.0 </span>
																			<span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
																		</li>
																	</ul>
																</div>
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
															</div>
														</div>
													</div>
												</div>
												<div class="widget-post-bx">
													<div class="widget-post clearfix">
														<div class="dlab-post-media">
															<img src="assets/images/blog/recent-blog/pic3.jpg" width="200" height="143" alt="">
															<span class="abb-bx">Add</span>
														</div>
														<div class="dlab-post-info">
															<div class="dlab-post-header">
																<h6 class="post-title"><a href="javascript:void(0);">Ten Things Your Competitors</a></h6>
																<div class="dlab-post-meta">
																	<ul>
																		<li class="post-rating">
																			<span class="average-rating">7.0 </span>
																			<span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
																		</li>
																	</ul>
																</div>
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
															</div>
														</div>
													</div>
												</div>
												<div class="widget-post-bx">
													<div class="widget-post clearfix">
														<div class="dlab-post-media">
															<img src="assets/images/blog/recent-blog/pic4.jpg" width="200" height="143" alt="">
															<span class="abb-bx">Add</span>
														</div>
														<div class="dlab-post-info">
															<div class="dlab-post-header">
																<h6 class="post-title"><a href="javascript:void(0);">Remember From Directory</a></h6>
																<div class="dlab-post-meta">
																	<ul>
																		<li class="post-rating">
																			<span class="average-rating">7.0 </span>
																			<span class="rating-star">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																			</span>
																		</li>
																	</ul>
																</div>
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>