<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1></app-header1>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data]="banner"></app-banner1>
        <!-- inner page banner END -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum1.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Doe</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>12 July</strong><span> 2018</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Ten Unconventional Knowledge About Directory Blog That You Can't Learn From Books.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>As desperate as you are right now, you have done everything you can on your website to say to Google “This is a relevant content!” But ouch, your site doesn't seem to be ranking no matter what. </p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum2.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Rosalina</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>25 Oct</strong><span> 2018</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Seven Awesome Things You Can Learn From Directory Blog.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>You will see in the guide all my years of valuable experience together with the latest data-proven results from getting a bunch of traffic to your website to making tons of REAL money for you!</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum3.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Smith</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>05 Jan</strong><span> 2019</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">The Biggest Contribution Of Directory Blog To Humanity.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Through the Guide, you will learn to STOP your website from getting bunch of traffic because I will show you how to get only the real traffic that gives you real conversion at the end of the day.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum4.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Robin Hood</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>20 Feb</strong><span> 2019</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">20 Wonderful Directory Blog. Number 16 is Absolutely Stunning.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>When I needed to start from scratch and figure out how things work. Getting people to visit your website is easy until you realize that these bunch of traffic is not the exact traffic that you want.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
                        <!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
							<ul class="pagination">
								<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
								<li><a href="javascript:void(0)">1</a></li>
								<li><a href="javascript:void(0)">2</a></li>
								<li><a href="javascript:void(0)">...</a></li>
								<li class="active"><a href="javascript:void(0)">7</a></li>
								<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
							</ul>
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
                        <aside  class="side-bar blog-sidebar">
                      <app-search></app-search>
							<app-instagram></app-instagram>
							<div class="widget widget_share">
								<h4 class="widget-title">Follow Us</h4>
								<app-follow></app-follow>
							</div>
							<app-categories2></app-categories2>
							<app-feeds></app-feeds>
							<app-tags2></app-tags2>
							<app-add2></app-add2>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <app-footer1></app-footer1>
</div>