<footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="assets/images/logo-white.png" class="m-b30" alt="" width="180">
							<p class="text-capitalize m-b30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>                            
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
								<li><a href="javascript:void(0);">Lending Licnses</a></li>
								<li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
						<div class="widget border-0">
                            <h5 class="m-b30">Help</h5>
                            <ul class="list-1 list-block ist-line">
								<li><a href="javascript:void(0);">Hotel</a></li>
								<li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
							</ul>
						</div>
                    </div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="widget widget_subscribe">
                            <h5 class="m-b30">Subscribe With Us</h5>
							<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting.</p>
							<div class="subscribe-form m-t20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
									<button name="submit" value="Submit" type="submit" class="site-button m-t20 btn-block radius-xl">Subscribe</button>
								</form>
							</div>
                        </div>
                    </div>
				</div>
				<app-clients [data]="clients"></app-clients>
            </div>
        </div>
		<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
						<span class="fbottom-like"> Design With <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a> By DexignZone </span>
					</div>
                </div>
            </div>
        </div>
    </footer>