<div class="section-full content-inner-1">
      <div class="container max">
        <div class="category-list p-b10">
        
          <a href="{{category.url}}" class="category-bx style1" *ngFor="let category of data">
            <div class="icon-bx">
              <span class="icon-cell"><i class="{{category.icon_class}}"></i></span> 
            </div>
            <h4 class="title">{{category.title}}</h4>
          </a>
          
          <!-- <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-cat-place"></i></span> 
            </div>
            <h4 class="title">Tours</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-cat-pill-capsule"></i></span> 
            </div>
            <h4 class="title">medicine</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-shop"></i></span> 
            </div>
            <h4 class="title">Shopping</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-cat-birthday-cake"></i></span> 
            </div>
            <h4 class="title">Food</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-city-hall"></i></span> 
            </div>
            <h4 class="title">Culture</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-city-hall-1"></i></span> 
            </div>
            <h4 class="title">Cuisine</h4>
          </a>
          <a href="javascript:void(0);"  class="category-bx style1">
            <div class="icon-bx">
              <span class="icon-cell"><i class="flaticon-cat-place"></i></span> 
            </div>
            <h4 class="title">Tours</h4>
          </a> -->
        </div>
      </div>
    </div>